@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --bg: white;
    --fg: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --fg: white;
    }
}

body { color: var(--fg); background-color: var(--bg); font-family:'Inter', sans-serif; font-size: 14px; font-weight: 300; }
